.sidebar{
width:250px;
background:#1e293b;
color:white;
padding:30px 20px;
}

.sidebar h2{
margin-bottom:40px;
text-align:center;
}

.sidebar ul{
list-style:none;
padding:0;
}

.sidebar li{
display:flex;
align-items:center;
gap:15px;
padding:15px;
margin-bottom:10px;
border-radius:10px;
cursor:pointer;
transition:.3s;
}

.sidebar li:hover{
background:#2563eb;
}
.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar li{
    margin:15px 0;
}

.sidebar li a{
    display:flex;
    align-items:center;
    gap:10px;
    text-decoration:none;
    color:white;
    padding:10px 15px;
    border-radius:8px;
    transition:0.3s;
}

.sidebar li a:hover{
    background:#2563eb;
}

.sidebar li.active a{
    background:#2563eb;
    font-weight:bold;
}