.menu-title{
    margin:28px 25px 12px;
    font-size:12px;
    color:#9ca3af;
    font-weight:700;
    letter-spacing:1px;
    text-transform:uppercase;
}

.sidebar-menu a{
    display:flex;
    align-items:center;
    gap:15px;
    padding:14px 25px;
    color:#e5e7eb;
    text-decoration:none;
    border-left:4px solid transparent;
    transition:.25s;
}

.sidebar-menu a:hover{
    background:#334155;
    border-left:4px solid #16a34a;
}

.sidebar-menu a.active{
    background:#16a34a;
    color:white;
    border-left:4px solid white;
}

.sidebar-menu svg{
    font-size:18px;
    min-width:18px;
}